.container2 {
    width: 900px;
    margin: 0 auto;
}

.titulo{
    width:1000px;
    background-color:rgb(61, 166, 201);
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}
h2{
    color: blue;
}

.fotos{
    text-align: center;
    width: 400px;
    height:300px;
    margin:20px;
}